@page "/"
@page "/home"
@attribute [Authorize]
@inject NavigationManager NavManager
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<AppLanguage> local 
@using System.Globalization
@using Microsoft.Extensions.Localization

<PageTitle>@local["Home"]</PageTitle>

@local["Welcome"] to your new app.
@local["Home"] <br />
@userId
 <AuthorizeView>
     <Authorized>
         welcome @context.User.FindFirst(e => e.Type == ClaimTypes.Name)?.Value
     </Authorized>
     <Authorizing>
         authorizing...
     </Authorizing>
     <NotAuthorized>
         not authorized
     </NotAuthorized>
 </AuthorizeView>

<h1 class="text-1xl cursor-text hover:bg-amber-200 hover:font-bold">
    Hello world!
</h1>
<ul>
    <li><b>CurrentCulture</b>: @CultureInfo.CurrentCulture</li>
    <li><b>CurrentUICulture</b>: @CultureInfo.CurrentUICulture</li>
</ul>



@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private string name { get; set; }
    private string userId;

    protected override async Task OnInitializedAsync(){
        var authState = await authenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        }
    }
}