@implements IDisposable
@page "/resort/lift/add"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations

@inject IStringLocalizer<AppLanguage> local
@inject ResortChangeManager resortChangeManager
@inject NavigationManager navigationManager
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NotificationService notificationService
@inject DialogService dialogService

<h3 class="text-3xl font-bold">@local["Add lift"]</h3>

@if (liftDto is not null)
{
    <RadzenTemplateForm Data="liftDto" TItem="Lift" Submit="submitForm">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenCard>
                        <RadzenFieldset Text="@local["Data"]">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="name" Text="@local["Name"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Name="name" @bind-Value="liftDto.name" Style="width: 100%;" />
                                        <RadzenDataAnnotationValidator Component="name" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="type" Text="@local["Type"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDropDown Data="liftTypes" @bind-Value="liftDto.liftTypeId" TValue="Guid" TextProperty="name" ValueProperty="id">

                                        </RadzenDropDown>
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="length" Text="@local["Length"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="length" @bind-Value="liftDto.lengthMeters" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="capacity" Text="@local["Capacity per unit"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="capacity" @bind-Value="liftDto.capacityPerSeat" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="peoplePerHour" Text="@local["People per hour"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="peoplePerHour" @bind-Value="liftDto.peoplePerHour" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="duration" Text="@local["Average Duration Time"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="duration" @bind-Value="liftDto.estimatedDurationTimeMinutes" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenCard>
                </RadzenStack>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenCard>
                        <RadzenFieldset Text="@local["Status"]">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="opened" Text="@local["Opened"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenCheckBox Name="opened" @bind-Value="statusDto.opened" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="openingTime" Text="@local["Opening Time"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDatePicker @bind-Value="@statusDto.openingTime" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="closingTime" Text="@local["Closing Time"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDatePicker @bind-Value="@statusDto.closingTime" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenCard>
                    <RadzenCard>
                        <RadzenFieldset Text="@local["Bind cameras"]">
                            <RadzenDropDown Data="cameras" @bind-Value="@selectedCamerasIds" Multiple="true" TextProperty="name" ValueProperty="id" Placeholder="@local["Select cameras"]" Style="width: 100%;" />
                        </RadzenFieldset>
                    </RadzenCard>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem">
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="@local["Submit"]" />
        </RadzenStack>
    </RadzenTemplateForm>

}

@code {
    [CascadingParameter]
    public Resort? selectedResort { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private Lift liftDto = new Lift();
    private LiftStatus? statusDto = null;
    private Camera[] cameras { get; set; } = [];
    private IEnumerable<Guid> selectedCamerasIds { get; set; }

    private LiftType[] liftTypes = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();
        liftDto.id = Guid.NewGuid();
        statusDto = new LiftStatus()
            {
                id = Guid.NewGuid(),
                parentLiftId = liftDto.id,
                opened = true,
                openingTime = TimeOnly.Parse("9:00"),
                closingTime = TimeOnly.Parse("18:00")
            };
        updateData();
        resortChangeManager.ResortChange += updateData;
    }

    private async Task submitForm()
    {
        bool error = false;
        ValidationContext context = new ValidationContext(liftDto);
        ICollection<ValidationResult> results = new List<ValidationResult>();
        bool isValid = Validator.TryValidateObject(liftDto, context, results, true);

        if (isValid)
        {
            using (var database = contextFactory.CreateDbContext())
            {
                dialogService.Open<_LoadingTaskDialog>(
                   "", new Dictionary<string, object>() { { "displayMessage", "Editing data..." } },
                       new DialogOptions() { CloseDialogOnEsc = false, ShowClose = false });

                // Prepare cameras bindings
                var cameraEntries = new List<CameraLiftBinding>();
                foreach (var cameraId in selectedCamerasIds)
                {
                    cameraEntries.Add(new()
                        {
                            id = Guid.NewGuid(),
                            cameraId = cameraId,
                            liftId = liftDto.id
                        });
                }
                liftDto.cameras = cameraEntries;

                // Update db with new status that will contain this new lift's
                var lastStatusDto = await database.statusSheets.OrderByDescending(e => e.dateTime)
                                    .Include(e => e.trackStatuses)
                                    .Include(e => e.liftStatuses)
                                    .Include(e => e.resortStatus)
                                    .AsSplitQuery()
                                    .AsNoTracking()
                                    .FirstOrDefaultAsync(e => e.resortId == selectedResort.id && e.productionVersion == true);

                lastStatusDto.liftStatuses.ToList().ForEach(e => e.id = Guid.NewGuid());
                lastStatusDto.trackStatuses.ToList().ForEach(e => e.id = Guid.NewGuid());
                lastStatusDto.resortStatus.id = Guid.NewGuid();
                lastStatusDto.dateTime = DateTime.Now;
                List<LiftStatus> ls = lastStatusDto.liftStatuses.ToList();
                ls.Add(statusDto);
                lastStatusDto.liftStatuses = ls;
                lastStatusDto.id = Guid.NewGuid();
                database.statusSheets.Add(lastStatusDto);

                database.lifts.Add(liftDto);

                try
                {
                    await database.SaveChangesAsync();
                    await Task.Delay(2000);
                    dialogService.Close();
                    navigationManager.NavigateTo("/resort/lift");
                }
                catch
                {
                    dialogService.Close();
                    error = true;
                }
            }
        }
        else
            error = true;

        var notifMessage = new NotificationMessage();
        if (!error)
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = local["Added data successfully!"],
                    Duration = 3000
                };
        }
        else
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = local["There was an error while executing the request"],
                    Duration = 3000
                };
        }
        notificationService.Notify(notifMessage);
    }

    private async void updateData(ResortChangeEventArgs? eventArgs = null)
    {
        if (selectedResort is not null)
        {
            using (var database = contextFactory.CreateDbContext())
            {
                liftDto.resortId = selectedResort.id;

                cameras = await database.cameras.Where(e => e.resortId == liftDto.resortId).AsNoTracking().ToArrayAsync();
                selectedCamerasIds = await database.cameraLiftBindings.Where(e => e.liftId == liftDto.id).AsNoTracking().Select(e => e.cameraId).ToArrayAsync();

                liftTypes = await database.liftTypes.OrderByDescending(e => e.name).ToArrayAsync();
            }
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        resortChangeManager.ResortChange -= updateData;
    }
}
