@implements IDisposable
@page "/resort/lift/edit/{selectedLiftId:guid?}"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations

@inject IStringLocalizer<AppLanguage> local
@inject ResortChangeManager resortChangeManager
@inject NavigationManager navigationManager
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NotificationService notificationService
@inject DialogService dialogService

<h3 class="text-3xl font-bold">@local["Edit Lift"]</h3>
@(selectedLiftId?.ToString() ?? local["No lift selected"])

@if (liftDto is not null)
{
    <RadzenTemplateForm Data="liftDto" TItem="Lift" Submit="submitForm">
        <RadzenStack Style="width: 100%">
            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn>
                    <RadzenFormField Text="@local["Name"]">
                        <RadzenTextBox Name="name" @bind-Value="liftDto.name" Style="width: 100%;" />
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenDataAnnotationValidator Component="name" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn>
                    <RadzenFormField Text="@local["Type"]">
                        <RadzenTextBox Name="type" @bind-Value="liftDto.type" Style="width: 100%;" />
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenDataAnnotationValidator Component="type" />
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn>
                    <RadzenFormField Text="@local["Length"]">
                        <RadzenNumeric Name="length" @bind-Value="liftDto.lengthMeters" Style="width: 100%;" />
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn>
                    <RadzenFormField Text="@local["Capacity Per Unit"]">
                        <RadzenNumeric Name="capacity" @bind-Value="liftDto.capacityPerSeat" Style="width: 100%;" />
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn>
                    <RadzenFormField Text="@local["People Per Hour"]">
                        <RadzenNumeric Name="peoplePerHour" @bind-Value="liftDto.peoplePerHour" Style="width: 100%;" />
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow AlignItems="AlignItems.Center" RowGap="0.25rem">
                <RadzenColumn>
                    <RadzenFormField Text="@local["Average Duration Time"]">
                        <RadzenNumeric Name="duration" @bind-Value="liftDto.estimatedDurationTimeMinutes" Style="width: 100%;" />
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>

            <RadzenDropDown Data="cameras" @bind-Value="selectedCamerasIds"
                            Multiple="true" TextProperty="name" ValueProperty="id"
                            Placeholder="@local["Select Cameras"]" />

            <RadzenButton Text="@local["Submit Changes"]" ButtonType="ButtonType.Submit" />
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Parameter]
    public Guid? selectedLiftId { get; set; }

    private Lift? liftDto { get; set; }
    private Camera[] cameras { get; set; } = [];
    private IEnumerable<Guid> selectedCamerasIds { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await validateLiftOwnership();

        resortChangeManager.ResortChange += updateForm;
        if (selectedLiftId != null)
        {
            Console.WriteLine("update form...");
            updateForm();
        }
    }

    private async Task submitForm()
    {
        bool error = false;
        ValidationContext context = new ValidationContext(liftDto);
        ICollection<ValidationResult> results = new List<ValidationResult>();
        bool isValid = Validator.TryValidateObject(liftDto, context, results, true);

        if (isValid)
        {
            using (var database = contextFactory.CreateDbContext())
            {
                dialogService.Open<_LoadingTaskDialog>(
                   "", new Dictionary<string, object>() { { "displayMessage", local["Editing data..."] } },
                       new DialogOptions() { CloseDialogOnEsc = false, ShowClose = false });

                var cameraBindings = database.cameraLiftBindings.Where(e => e.liftId == liftDto.id).AsNoTracking();
                var bindingsToRemove = new List<CameraLiftBinding>();
                var bindingsToAdd = new List<CameraLiftBinding>();

                foreach (var cameraId in selectedCamerasIds)
                {
                    var bindInDb = cameraBindings.FirstOrDefault(e => e.cameraId == cameraId);
                    if (bindInDb is null)
                    {
                        var newBind = new CameraLiftBinding
                            {
                                id = Guid.NewGuid(),
                                liftId = (Guid)selectedLiftId,
                                cameraId = cameraId
                            };
                        bindingsToAdd.Add(newBind);
                        database.cameraLiftBindings.Add(newBind);
                    }
                }

                foreach (var bindInDb in cameraBindings)
                {
                    var neededBindId = selectedCamerasIds.FirstOrDefault(e => e == bindInDb.cameraId);
                    if (neededBindId == Guid.Empty)
                    {
                        bindingsToRemove.Add(bindInDb);
                        database.cameraLiftBindings.Remove(bindInDb);
                    }
                }

                database.Attach(liftDto);
                database.Entry(liftDto).State = EntityState.Modified;

                try
                {
                    await database.SaveChangesAsync();
                    await Task.Delay(2000);
                    dialogService.Close();
                    navigationManager.NavigateTo("/resort");
                }
                catch
                {
                    error = true;
                }
            }
        }
        else
        {
            error = true;
        }

        var notifMessage = new NotificationMessage();
        if (!error)
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = local["Edited data successfully!"],
                    Duration = 3000
                };
        }
        else
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = local["There was an error while executing the request"],
                    Duration = 3000
                };
        }
        notificationService.Notify(notifMessage);
    }

    private async Task validateLiftOwnership()
    {
        try
        {
            var auth = await authenticationState;
            var userId = auth.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            if (userId is null)
            {
                throw new Exception("User permit for lifts ID was not found");
            }

            using (var database = contextFactory.CreateDbContext())
            {
                var lift = await database.lifts.FirstOrDefaultAsync(e => e.id == selectedLiftId);
                if (lift is null)
                {
                    throw new Exception("Lift was not found");
                }

                var permit = await database.permits
                    .FirstOrDefaultAsync(e => e.userId == userId && e.resortId == lift.resortId);
                if (permit is null)
                {
                    throw new Exception("User permit for lifts ID was not found");
                }
            }
        }
        catch (Exception e)
        {
            var notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = local["You don't have permissions to do this or something went wrong"],
                    Duration = 4000
                };

            notificationService.Notify(notifMessage);
            navigationManager.NavigateTo("/resort");

            Console.WriteLine(e.Message);
        }
    }

    private async void updateForm(ResortChangeEventArgs? eventArgs = null)
    {
        using (var database = contextFactory.CreateDbContext())
        {
            liftDto = await database.lifts.FirstOrDefaultAsync(e => e.id == selectedLiftId);
            cameras = await database.cameras.Where(e => e.resortId == liftDto.resortId).AsNoTracking().ToArrayAsync();
            selectedCamerasIds = await database.cameraLiftBindings.Where(e => e.liftId == liftDto.id).AsNoTracking().Select(e => e.cameraId).ToArrayAsync();
        }
    }

    public void Dispose()
    {
        resortChangeManager.ResortChange -= updateForm;
    }
}
