@implements IDisposable
@page "/resort/lift/edit/{selectedLiftId:guid}"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations

@inject IStringLocalizer<AppLanguage> local
@inject ResortChangeManager resortChangeManager
@inject NavigationManager navigationManager
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject NotificationService notificationService
@inject DialogService dialogService

<h3 class="text-3xl font-bold">@local["Edit lift"]</h3>

@if (liftDto is not null)
{
    <RadzenTemplateForm Data="liftDto" TItem="Lift" Submit="submitForm">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenCard>
                        <RadzenFieldset Text="@local["Data"]">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="name" Text="@local["Name"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Name="name" @bind-Value="liftDto.name" Style="width: 100%;" />
                                        <RadzenDataAnnotationValidator Component="name" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="type" Text="@local["Type"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenDropDown Data="liftTypes" @bind-Value="liftDto.liftTypeId" TValue="Guid" TextProperty="name" ValueProperty="id" Style="width: 100%;">
                                            <Template Context="liftType">
                                                @(liftType.name)
                                                @* add icon *@
                                            </Template>
                                        </RadzenDropDown>
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="length" Text="@local["Length meters"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="length" @bind-Value="liftDto.lengthMeters" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="capacity" Text="@local["Capacity per seat"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="capacity" @bind-Value="liftDto.capacityPerSeat" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="peoplePerHour" Text="@local["People per hour"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="peoplePerHour" @bind-Value="liftDto.peoplePerHour" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>

                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="duration" Text="@local["Estimated duration time minutes"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenNumeric Name="duration" @bind-Value="liftDto.estimatedDurationTimeMinutes" Style="width: 100%;" />
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenCard>
                </RadzenStack>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenCard>
                        <RadzenFieldset Text="@local["Bind cameras"]">
                            <RadzenDropDown Data="cameras" @bind-Value="selectedCamerasIds" Multiple="true" TextProperty="name" ValueProperty="id" Placeholder="@local["Select Cameras"]" Style="width: 100%;" />
                        </RadzenFieldset>
                    </RadzenCard>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem">
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="@local["Submit changes"]" />
        </RadzenStack>
    </RadzenTemplateForm>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Parameter]
    public Guid? selectedLiftId { get; set; }

    private Lift? liftDto { get; set; }
    private Camera[] cameras { get; set; } = [];
    private IEnumerable<Guid> selectedCamerasIds { get; set; }

    private LiftType[] liftTypes = [];

    protected override async Task OnInitializedAsync()
    {
        await validateLiftOwnership();

        resortChangeManager.ResortChange += updateForm;
        if (selectedLiftId != null)
        {
            Console.WriteLine("update form...");
            updateForm();
        }
    }

    private async Task submitForm()
    {
        bool error = false;
        ValidationContext context = new ValidationContext(liftDto);
        ICollection<ValidationResult> results = new List<ValidationResult>();
        bool isValid = Validator.TryValidateObject(liftDto, context, results, true);

        if (isValid)
        {
            using (var database = contextFactory.CreateDbContext())
            {
                dialogService.Open<_LoadingTaskDialog>(
                   "", new Dictionary<string, object>() { { "displayMessage", "Editing data..." } },
                       new DialogOptions() { CloseDialogOnEsc = false, ShowClose = false });

                var cameraBindings = database.cameraLiftBindings.Where(e => e.liftId == liftDto.id).AsNoTracking();
                var bindingsToRemove = new List<CameraLiftBinding>();
                var bindingsToAdd = new List<CameraLiftBinding>();

                foreach (var cameraId in selectedCamerasIds)
                {
                    var bindInDb = cameraBindings.FirstOrDefault(e => e.cameraId == cameraId);
                    if (bindInDb is null)
                    {
                        var newBind = new CameraLiftBinding
                            {
                                id = Guid.NewGuid(),
                                liftId = (Guid)selectedLiftId,
                                cameraId = cameraId
                            };
                        bindingsToAdd.Add(newBind);
                        database.cameraLiftBindings.Add(newBind);
                    }
                }

                foreach (var bindInDb in cameraBindings)
                {
                    var neededBindId = selectedCamerasIds.FirstOrDefault(e => e == bindInDb.cameraId);
                    if (neededBindId == Guid.Empty)
                    {
                        bindingsToRemove.Add(bindInDb);
                        database.cameraLiftBindings.Remove(bindInDb);
                    }
                }

                database.Attach(liftDto);
                database.Entry(liftDto).State = EntityState.Modified;

                try
                {
                    await database.SaveChangesAsync();
                    await Task.Delay(2000);
                    dialogService.Close();
                    navigationManager.NavigateTo("/resort");
                }
                catch
                {
                    error = true;
                }
            }
        }
        else
        {
            error = true;
        }

        var notifMessage = new NotificationMessage();
        if (!error)
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = local["Edited data successfully!"],
                    Duration = 3000
                };
        }
        else
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = local["There was an error while executing the request"],
                    Duration = 3000
                };
        }
        notificationService.Notify(notifMessage);
    }

    private async Task validateLiftOwnership()
    {
        try
        {
            var auth = await authenticationState;
            var userId = auth.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
            if (userId is null)
            {
                throw new Exception("User permit for lifts ID was not found");
            }

            using (var database = contextFactory.CreateDbContext())
            {
                var lift = await database.lifts.FirstOrDefaultAsync(e => e.id == selectedLiftId);
                if (lift is null)
                {
                    throw new Exception("Lift was not found");
                }

                var permit = await database.permits
                    .FirstOrDefaultAsync(e => e.userId == userId && e.resortId == lift.resortId);
                if (permit is null)
                {
                    throw new Exception("User permit for lifts ID was not found");
                }
            }
        }
        catch (Exception e)
        {
            var notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = local["You don't have permissions to do this or something went wrong"],
                    Duration = 4000
                };

            notificationService.Notify(notifMessage);
            navigationManager.NavigateTo("/resort");

            Console.WriteLine(e.Message);
        }
    }

    private async void updateForm(ResortChangeEventArgs? eventArgs = null)
    {
        using (var database = contextFactory.CreateDbContext())
        {
            liftDto = await database.lifts.FirstOrDefaultAsync(e => e.id == selectedLiftId);
            cameras = await database.cameras.Where(e => e.resortId == liftDto.resortId).AsNoTracking().ToArrayAsync();
            selectedCamerasIds = await database.cameraLiftBindings.Where(e => e.liftId == liftDto.id).AsNoTracking().Select(e => e.cameraId).ToArrayAsync();
            liftTypes = await database.liftTypes.OrderByDescending(e => e.name).ToArrayAsync();
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        resortChangeManager.ResortChange -= updateForm;
    }
}
