<div class="h-[280px] block">
    <h3>@sheet.dateTime Status</h3>
    <hr />
    <div class="h-[250]">
        <RadzenTabs>
            <RadzenTabsItem Text="Tracks">
                <h2 class="text-2xl font-bold">Tracks</h2>
                <RadzenDataGrid Data="sheet.trackStatuses" TItem="TrackStatus">
                    <Columns>
                        <RadzenDataGridColumn Title="name" TextAlign="TextAlign.Center">
                            <Template Context="status">
                                @status.parentTrack.name
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(TrackStatus.opened)" Title="aktive" TextAlign="TextAlign.Center">
                            <Template Context="status">
                                <div class="notranslate">
                                    <RadzenIcon Icon="@(status.opened ? "Check_Circle" : "Cancel")" IconColor="@(status.opened ? Colors.Success : Colors.Danger)" />

                                </div>
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(TrackStatus.snowCover)" Title="snow cover" TextAlign="TextAlign.Center">

                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(TrackStatus.openingTime)" Title="opening at" TextAlign="TextAlign.Center">

                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(TrackStatus.openingTime)" Title="closing at" TextAlign="TextAlign.Center">

                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Lifts">
                <h2 class="text-2xl font-bold">Lifts</h2>
                <RadzenDataGrid Data="sheet.liftStatuses" TItem="LiftStatus">
                    <Columns>
                        <RadzenDataGridColumn Title="name" TextAlign="TextAlign.Center">
                            <Template Context="status">
                                @status.parentLift.name
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(LiftStatus.opened)" Title="aktive" TextAlign="TextAlign.Center">
                            <Template Context="status">
                                <div class="notranslate">
                                    <RadzenIcon Icon="@(status.opened ? "Check_Circle" : "Cancel")" IconColor="@(status.opened ? Colors.Success : Colors.Danger)" />
                                </div>
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(LiftStatus.openingTime)" Title="opening at" TextAlign="TextAlign.Center">

                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="@nameof(LiftStatus.openingTime)" Title="closing at" TextAlign="TextAlign.Center">

                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenTabsItem>
        </RadzenTabs>
    </div>
</div>
@code {
    [Parameter]
    public StatusSheet? sheet { get; set; }


}
