@page "/resort/status"
@attribute [Authorize]

@inject IStringLocalizer<AppLanguage> local
@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject DialogService dialogService
@inject NotificationService notificationService
@inject ContextMenuService contextMenuService
@inject NavigationManager navigationManager
@inject ResortChangeManager resortChangeManager
@inject IJSRuntime JSRuntime

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3 class="text-3xl font-bold">@local["Statuses"]</h3>
@if (resortData is not null)
{
    <RadzenStack>
        <RadzenRow JustifyContent="JustifyContent.Right">
            <RadzenColumn SizeMD="6" Size="12">
                <RadzenCard Style="width: 100%; height: fit-content; padding: 0.5rem;">
                @{
                    var enableButtons = selectedSheet is not null;
                    StatusSheet? sheet = null;
                    if (enableButtons == true)
                        sheet = selectedSheet;
                }
                <RadzenStack JustifyContent="JustifyContent.SpaceEvenly" Wrap="FlexWrap.Wrap" Orientation="Orientation.Horizontal" Gap="0.5rem" Style="width: 100%;">
                    <RadzenButton Text="@local["Add"]" Click="addNewSheet" />
                    <RadzenButton Text="@local["Delete"]"
                                  Disabled="@(enableButtons is false)"
                                  Click="deleteSheet"
                                  Icon="Delete" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Danger" />
                    <RadzenButton Text="@local["Activate"]"
                                  Click="() => switchSheetVersion(true)"
                                  Variant="@(sheet?.productionVersion == true ? Variant.Text : Variant.Outlined)"
                                  Disabled="@(enableButtons is false || sheet?.productionVersion == true)"
                                  />
                    <RadzenButton Text="@local["Deactivate"]"
                                  Click="() => switchSheetVersion(false)"
                                  Variant="@(sheet?.productionVersion == false ? Variant.Text : Variant.Outlined)"
                                  Disabled="@(enableButtons is false || sheet?.productionVersion == false)"
                                  />
                    
                </RadzenStack>
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.SpaceEvenly" Style="position: relative;">
            <RadzenColumn Size="12" SizeMD="3">
                <RadzenCard id="toResize">
                    @* id="toResize" *@
                    <RadzenDataGrid Data="resortData.statusSheets" TItem="StatusSheet"
                                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedSheets IsLoading="loadingGrid" RowClick="(args) => fetchDataForSheet(args)">
                        <Columns>
                            <RadzenDataGridColumn Property="productionVersion" Title="@local["Active"]" TextAlign="TextAlign.Center">
                                <Template Context="sheet">
                                    <RadzenIcon Icon="@(sheet.productionVersion ? "Check_Circle" : "Cancel")" IconColor="@(sheet.productionVersion ? Colors.Success : Colors.Danger)" />
                                </Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn Property="datetime" Title="@local["Date and time"]" TextAlign="TextAlign.Center">
                                <Template Context="sheet">
                                    @(sheet.dateTime.ToShortDateString()) <br />
                                    @(sheet.dateTime.ToShortTimeString())
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid> 

                </RadzenCard>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="9">
                <RadzenCard Style="width: 100%; height: fit-content; overflow: auto;" id="toResize2" class="rz-shadow-6">
                    @if (selectedSheet is not null)
                    {
                        <_StatusCard displayInfo="true" sheet="selectedSheet" />
                    }
                    else
                    {
                        <p>@local["Select status to see details"]</p>
                    }
                </RadzenCard>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}
else
{
    <p>@local["Select resort first"]</p>
}

@implements IDisposable
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           // await JSRuntime.InvokeVoidAsync("setMaxHeightToBottom", "toResize", 16, 4);
           // await JSRuntime.InvokeVoidAsync("setMaxHeightToBottom", "toResize2", 16, 4);
        }
    }

    [CascadingParameter]
    public Resort? selectedResort { get; set; }

    private Resort resortData { get; set; }
    private IList<StatusSheet> SelectedSheets;
    private StatusSheet? selectedSheet { get; set; } = null;
    private bool loadingGrid = false;

    protected override async Task OnInitializedAsync()
    {
        updateData();
        resortChangeManager.ResortChange += updateData;
    }

    private void addNewSheet()
    {
        navigationManager.NavigateTo("/resort/status/add");
    }

    private void switchSheetVersion(bool switcher)
    {
        bool error = false;

        try
        {
            selectedSheet.productionVersion = switcher;
            using (var database = contextFactory.CreateDbContext())
            {
                database.Attach(selectedSheet);
                database.Entry(selectedSheet).State = EntityState.Modified;
                database.SaveChanges();
            }
            resortData.statusSheets.FirstOrDefault(e => e.id == selectedSheet.id).productionVersion = switcher;
        }
        catch
        {
            selectedSheet = null;
            error = true;
        }

        var notifMessage = new NotificationMessage();
        if (!error)
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = local["Edited data successfully!"],
                    Duration = 3000
                };
        }
        else
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = local["There was an error while executing the request"],
                    Duration = 3000
                };
        }
        notificationService.Notify(notifMessage);
    }

    private async Task deleteSheet()
    {
        var result = await dialogService.OpenAsync<_ConfirmDialog>(
            local["Confirm action"], new Dictionary<string, object>() { },
            new DialogOptions() { ShowClose = false });

        if (result == true)
        {
            var sheet = selectedSheet;
            bool error = false;
            try
            {
                using (var database = contextFactory.CreateDbContext())
                {
                    foreach (var tstatus in sheet.trackStatuses)
                    {
                        database.Remove(tstatus);
                    }

                    foreach (var lstatus in sheet.liftStatuses)
                    {
                        database.Remove(lstatus);
                    }

                    var rstatus = sheet.resortStatus;
                    if (rstatus is not null)
                    {
                        database.Remove(rstatus);
                    }

                    database.Remove(sheet);
                    database.SaveChanges();
                }

            }
            catch
            {
                error = true;
            }

            var notifMessage = new NotificationMessage();
            if (!error)
            {
                notifMessage = new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = local["Deleted data successfully!"],
                        Duration = 3000
                    };
            }
            else
            {
                notifMessage = new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = local["There was an error while executing the request"],
                        Duration = 3000
                    };
            }
            notificationService.Notify(notifMessage);
            updateData();
        }
    }

    private void updateData(ResortChangeEventArgs? eventArgs = null)
    {
        if (selectedResort is not null)
        {
            selectedSheet = null;

            using (var database = contextFactory.CreateDbContext())
            {
                loadingGrid = true;
                resortData = selectedResort;
                resortData.statusSheets = database.statusSheets
                                                .Where(e => e.resortId == selectedResort.id)
                                                .OrderByDescending(e => e.dateTime)
                                                .AsNoTracking()
                                                .ToList();
                loadingGrid = false;
            }
            StateHasChanged();
        }
    }

    private void fetchDataForSheet(DataGridRowMouseEventArgs<StatusSheet> args)
    {
        using (var database = contextFactory.CreateDbContext())
        {
            selectedSheet = database.statusSheets
                                    .Where(e => e.resortId == selectedResort.id)
                                    .OrderByDescending(e => e.dateTime)
                                    .Include(e => e.resortStatus)
                                    .Include(e => e.trackStatuses)
                                    .ThenInclude(e => e.parentTrack)
                                    .Include(e => e.liftStatuses)
                                    .ThenInclude(e => e.parentLift)
                                    .AsSplitQuery()
                                    .AsNoTracking()
                                    .FirstOrDefault(e => e.id == args.Data.id);
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        resortChangeManager.ResortChange -= updateData;
    }
}
