@inject IDbContextFactory<ApplicationDbContext> contextFactory
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@page "/resort/status"

<h3>Statuses</h3>
@if(resortData is not null)
{
    <RadzenStack>
        <RadzenRow JustifyContent="JustifyContent.Right">
            <RadzenButton Text="add new status" Click="addNewSheet"/>
        </RadzenRow>
        <RadzenRow JustifyContent="JustifyContent.SpaceEvenly">
            <RadzenColumn Size="12" SizeMD="6" Style="padding-right: 0.5rem;">
                <RadzenDataGrid Data="resortData.statusSheets" TItem="StatusSheet"
                                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@SelectedSheets>
                    <Columns>
                        <RadzenDataGridColumn Property="productionVersion" Title="active" TextAlign="TextAlign.Center">

                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Property="datetime" Title="Date and time" TextAlign="TextAlign.Center">
                            <Template Context="sheet">
                                @(sheet.dateTime.Date + sheet.dateTime.TimeOfDay)
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenColumn>

            <RadzenColumn Size="12" SizeMD="6" Style="padding-left: 0.5rem;">
                @if (SelectedSheets?.Any() == true)
                {
                    var sheet = SelectedSheets[0];
                    <RadzenCard Style="width: 100%; height: 100%; " class="rz-shadow-6">
                        <h3>@sheet.dateTime Status</h3>
                        <hr />
                        <RadzenRow JustifyContent="JustifyContent.Right" Gap="0.5rem">
                            <RadzenColumn Size="3">
                                <RadzenButton Text="activate"
                                    Click="() => switchSheetVersion(true)"
                                    Variant="@(sheet.productionVersion ? Variant.Text : Variant.Outlined)"
                                    Disabled="@(sheet.productionVersion)" 
                                    Style="width: 100%;" />
                            </RadzenColumn>
                            <RadzenColumn Size="3">
                                <RadzenButton Text="deactivate" 
                                    Click="() => switchSheetVersion(false)" 
                                    Variant="@(!sheet.productionVersion ? Variant.Text : Variant.Outlined)"
                                    Disabled="@(!sheet.productionVersion)" 
                                    Style="width: 100%;" />
                            </RadzenColumn>
                            <RadzenColumn Size="3">
                                <RadzenButton Text="delete" 
                                    Click="deleteSheet" 
                                    Style="width: 100%;" />
                            </RadzenColumn>
                        </RadzenRow>

                        <div style="display: block; height: 69vh; overflow-y: scroll;">
                            <h2>Tracks</h2>
                            <RadzenDataGrid Data="sheet.trackStatuses" TItem="TrackStatus">
                                <Columns>
                                    <RadzenDataGridColumn Title="name" TextAlign="TextAlign.Center">
                                        <Template Context="status">
                                            @status.parentTrack.name
                                        </Template>
                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(TrackStatus.opened)" Title="opened" TextAlign="TextAlign.Center">
                                        <Template Context="status">
                                            <RadzenIcon Icon="@(status.opened ? "Check_Circle" : "Cancel")" IconColor="@(status.opened ? Colors.Success : Colors.Danger)"/>
                                        </Template>
                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(TrackStatus.snowCover)" Title="snow cover" TextAlign="TextAlign.Center">

                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(TrackStatus.openingTime)" Title="opening at" TextAlign="TextAlign.Center">

                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(TrackStatus.openingTime)" Title="closing at" TextAlign="TextAlign.Center">

                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>

                            <h2>Lifts</h2>
                            <RadzenDataGrid Data="sheet.liftStatuses" TItem="LiftStatus">
                                <Columns>
                                    <RadzenDataGridColumn Title="name" TextAlign="TextAlign.Center">
                                        <Template Context="status">
                                            @status.parentLift.name
                                        </Template>
                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(LiftStatus.opened)" Title="opened" TextAlign="TextAlign.Center">
                                        <Template Context="status">
                                            <RadzenIcon Icon="@(status.opened ? "Check_Circle" : "Cancel")" IconColor="@(status.opened ? Colors.Success : Colors.Danger)" />
                                        </Template>
                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(LiftStatus.openingTime)" Title="opening at" TextAlign="TextAlign.Center">

                                    </RadzenDataGridColumn>

                                    <RadzenDataGridColumn Property="@nameof(LiftStatus.openingTime)" Title="closing at" TextAlign="TextAlign.Center">

                                    </RadzenDataGridColumn>
                                </Columns>
                            </RadzenDataGrid>
                        </div>

                    </RadzenCard>
                }
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>

   
}

@inject IDbContextFactory<ApplicationDbContext> contextFactory
@inject DialogService dialogService
@inject NotificationService notificationService
@inject ContextMenuService contextMenuService
@inject NavigationManager navigationManager
@inject ResortChangeManager resortChangeManager
@implements IDisposable
@code {
    [CascadingParameter]
    public Resort? selectedResort { get; set; }

    private Resort resortData { get; set; }

    private IList<StatusSheet> SelectedSheets;

    protected override async Task OnInitializedAsync()
    {
        updateData();
        resortChangeManager.ResortChange += updateData;
    }

    private void addNewSheet()
    {
        navigationManager.NavigateTo("/resort/status/add");
    }

    private void switchSheetVersion(bool switcher)
    {
        var sheet = SelectedSheets[0];
        bool error = false;
        sheet.productionVersion = switcher;
        try
        {
            using (var database = contextFactory.CreateDbContext())
            {

                database.Attach(sheet);
                database.Entry(sheet).State = EntityState.Modified;
                database.SaveChanges();
            }
        }
        catch
        {
            error = true;
        }

        var notifMessage = new NotificationMessage();
        if (!error)
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Edited data successfully!",
                    Duration = 3000
                };
        }
        else
        {
            notifMessage = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "There was an error while executing the request",
                    Duration = 3000
                };
        }
        notificationService.Notify(notifMessage);
    }

    private async Task deleteSheet()
    {
        var result = await dialogService.OpenAsync<_ConfirmDialog>(
            "Confirm action", new Dictionary<string, object>() { },
            new DialogOptions() { ShowClose = false });

        if (result == true)
        {
            var sheet = SelectedSheets[0];
            bool error = false;
            try
            {
                if (SelectedSheets?.Any() == true)
                {
                    SelectedSheets.Clear();
                }
                using (var database = contextFactory.CreateDbContext())
                {
                    foreach (var tstatus in sheet.trackStatuses)
                    {
                        database.Remove(tstatus);
                    }

                    foreach (var lstatus in sheet.liftStatuses)
                    {
                        database.Remove(lstatus);
                    }

                    var rstatus = sheet.resortStatus;
                    if (rstatus is not null)
                    {
                        database.Remove(rstatus);
                    }

                    database.Remove(sheet);

                    database.SaveChanges();
                }

            }
            catch
            {
                error = true;
            }

            var notifMessage = new NotificationMessage();
            if (!error)
            {
                notifMessage = new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Deleted data successfully!",
                        Duration = 3000
                    };
            }
            else
            {
                notifMessage = new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "There was an error while executing the request",
                        Duration = 3000
                    };
            }
            notificationService.Notify(notifMessage);
            updateData();
        }

    }

    private async void updateData(ResortChangeEventArgs? eventArgs = null)
    {
        if (selectedResort is not null)
        {
            if (SelectedSheets?.Any() == true)
            {
                SelectedSheets.Clear();
            }

            using (var database = contextFactory.CreateDbContext())
            {
                resortData = selectedResort;
                resortData.statusSheets = await database.statusSheets
                                                .Where(e => e.resortId == selectedResort.id)
                                                .Include(e => e.resortStatus)
                                                .Include(e => e.trackStatuses)
                                                .ThenInclude(e => e.parentTrack)
                                                .Include(e => e.liftStatuses)
                                                .ThenInclude(e => e.parentLift)
                                                .AsSplitQuery()
                                                .AsNoTracking()
                                                .ToListAsync();
            }
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        resortChangeManager.ResortChange -= updateData;
    }

}
