@page "/resort/camera/add"
@attribute [Authorize]

@using System.ComponentModel.DataAnnotations

@inject IStringLocalizer<AppLanguage> local
@inject ResortChangeManager resortChangeManager
@inject NotificationService notificationService
@inject DialogService dialogService
@inject NavigationManager navigationManager
@inject IDbContextFactory<ApplicationDbContext> contextFactory

<h3 class="text-3xl font-bold">@local["Add Camera"] @(selectedResort is not null ? local["For"] + " " + selectedResort.name : "")</h3>

@if (selectedResort is not null)
{
    <RadzenTemplateForm Data="cameraDto" TItem="Camera" Submit="submitCamera">
        <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack>
                    <RadzenCard>
                        <RadzenFieldset Text="@local["Data"]">
                            <RadzenStack Gap="1rem">
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="name" Text="@local["Name"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Name="name" @bind-Value="cameraDto.name" Style="width: 100%;" />
                                        <RadzenDataAnnotationValidator Component="name" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="description" Text="@local["Description"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextArea Name="description" @bind-Value="cameraDto.description" Style="width: 100%;" />
                                        <RadzenDataAnnotationValidator Component="description" />
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenRow AlignItems="AlignItems.Center">
                                    <RadzenColumn Size="12" SizeMD="4">
                                        <RadzenLabel Component="link" Text="@local["URL to the Camera View"]" />
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="8">
                                        <RadzenTextBox Name="link" @bind-Value="cameraDto.link" Style="width: 100%;" />
                                        <RadzenDataAnnotationValidator Component="link" />
                                    </RadzenColumn>
                                </RadzenRow>

                            </RadzenStack>
                        </RadzenFieldset>
                    </RadzenCard>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem">
            <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Text="@local["Submit"]" />
        </RadzenStack>
    </RadzenTemplateForm>

}

@code {
    [CascadingParameter]
    public Resort? selectedResort { get; set; }

    private Camera cameraDto { get; set; } = new Camera();

    protected override async Task OnInitializedAsync()
    {
        resortChangeManager.ResortChange += updateData;
        updateData();
    }

    private async Task submitCamera()
    {
        bool error = false;
        ValidationContext context = new ValidationContext(cameraDto);
        ICollection<ValidationResult> results = new List<ValidationResult>();
        bool isValid = Validator.TryValidateObject(cameraDto, context, results, true);

        if (isValid)
        {
            using (var database = contextFactory.CreateDbContext())
            {
                await database.cameras.AddAsync(cameraDto);

                dialogService.Open<_LoadingTaskDialog>(
                    "", new Dictionary<string, object>() { { "displayMessage", "Adding data" } },
                    new DialogOptions() { CloseDialogOnEsc = false, ShowClose = false });

                try
                {
                    await database.SaveChangesAsync();
                    await Task.Delay(2000);

                }
                catch
                {
                    error = true;
                }
                dialogService.Close();
            }
        }
        else
        {
            error = true;
        }

        var notifMessage = new NotificationMessage
            {
                Severity = error ? NotificationSeverity.Error : NotificationSeverity.Success,
                Summary = error ? local["There was an error while executing the request"] : local["Added data successfully!"],
                Duration = 3000
            };

        notificationService.Notify(notifMessage);
        if (!error)
        {
            navigationManager.NavigateTo("/resort/camera");
        }
    }

    private async void updateData(ResortChangeEventArgs? eventArgs = null)
    {
        if (selectedResort is not null)
        {
            cameraDto.resortId = selectedResort.id;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        resortChangeManager.ResortChange -= updateData;
    }
}
